.App {
  text-align: center;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


.userInfo{
  background-color: red;
  flex-direction: column;
}

.centered{
  margin-top: 100px;
  margin-left: 100px;
}

.grids{
  margin-left: 100px;
  margin-top: 90px;
}

.userPicture{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.buttons{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}